<%= render "shared/header" %>

<%# 部分テンプレート %>
<div class="tatal_page">

  <%# サイドバー読み込み %>
  <div class="side_bar" >
    <%= render "shared/side_bar" %>
  </div>

  <%# メインページ読み込み %>
  <div class="state_form" >
    <div class="main_page" >
      <% @items.each_with_index do |item,index| %>
        <div class = "item_box" >
          <div class = "main_page_state_box" >
            <% if item.image.present? %>
              <div class = "search_method_base">
                <div>
                  <%= image_tag item.image , class: 'image_box' if item.image.attached?  %>
                </div>
                <div class = "search_method_index_base">
                  <div class = "search_method_botn">
                    <%= link_to '先入れ先出し' , "/states/#{item.id}/search_firstinout" , class: :search_method  %>
                  </div>
                  <div class = "search_method_botn">
                    <%= link_to '後入れ先出し' , "/states/#{item.id}/search_lastinout" , class: :search_method  %>
                  </div>
                  <div class = "search_method_botn">
                    <%= link_to '使用期限優先' , "/states/#{item.id}/search_exdate" , class: :search_method  %>
                  </div>
                </div>
              </div>
            <% else %>
              <div class = "search_method_base">
                <div class = "no_image">
                  Noimage
                </div>
                <div class = "search_method_index_base">
                  <div class = "search_method_botn">
                    <%= link_to '先入れ先出し' , "/states/#{item.id}/search_firstinout" , class: :search_method  %>
                  </div>
                  <div class = "search_method_botn">
                    <%= link_to '後入れ先出し' , "/states/#{item.id}/search_lastinout" , class: :search_method  %>
                  </div>
                  <div class = "search_method_botn">
                    <%= link_to '使用期限優先' , "/states/#{item.id}/search_exdate" , class: :search_method  %>
                  </div>
                </div>
              </div>
            <% end %>
            <div>
              <%= link_to '在庫管理',"/items/#{item.id}" , class: :search_method  %>
            </div>
          </div>
          <div  class = "main_table_total" >
            <table>
              <tr class = "main_page_state">
                <th class = "main_page_table_th" > index： </th>
                <td class = "main_page_state_td"> <%= index %> </td>
              </tr>
              <tr class = "main_page_state">
                <th class = "main_page_table_th" > ID： </th>
                <td class = "main_page_state_td"> <%= item.id%> </td>
              </tr>
              <tr class = "main_page_state">
                <th class = "main_page_table_th" > Item： </th>
                <td class = "main_page_state_td"> <%= item.name%> </td>
              </tr>
            </table>
          </div>
          <div>
            <div  class = "item_info_index" >
              商品説明
            </div>
            <div  class = "item_info" >
              <%= item.information%>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
