<h1>
  先入れ先出し
</h1>

<%= image_tag @item.image.variant(resize: '200x200') , class: :show_image %>

<div class = "show_itemname">
  商品名：<%= @item.name %>
</div>

<ol>
  出荷順
  <% @states.each do |state| %>
    <li class = "show_state">
      <%= state.id %>
      入庫日
      <%= state.created_at.strftime("%Y年%m月%d日%H時")%>
      <%= state.quantity %>
      <%= state.unit.name %>
      <%= state.storage_name %>
      <%= state.storage_address %>
      <%= link_to "編集" , "/items/#{@item.id}/states/#{state.id}/edit" , class: :state_link %>
    </li>
  <% end %>
</ol>

<div>
  <%= link_to "サーチ" , search_states_path %>
  <%= link_to "トップページ" , "/" , class: :top_link %>
</div>