<%= render "shared/header" %>


<%# 部分テンプレート %>
<div class="tatal_page">

    <%# サイドバー読み込み %>
    <div class="side_bar" >
      <%= render "shared/side_bar" %>
    </div>

  <%# アラーム表示画面 %>
  <%if @state.nil? %>
    <div class = "alarm_total_base">
      <div class = "under_table_base">
        <table class = "show_table_total">
          <tr class = "show_table_tr">
            <th class = "show_table_th" >Item</th>
            <th class = "show_table_th" >ID</th>
            <th class = "show_table_th" >残り日数</th>
            <th class = "show_table_th" >数量</th>
            <th class = "show_table_th" >使用期限</th>
          </tr>
          <% @under_limit.zip(@under_day_alarm) do |under_limit,under_day_alarm|%>
            <tr class = "show_state">
              <td class = show_state_td><%= "#{under_limit.item.name}"%></td>
              <td class = show_state_td><%= "#{under_limit.id}"%></td>
              <td class = show_state_td><%= "#{under_day_alarm.to_i}日"%></td>
              <td class = show_state_td><%= under_limit.quantity %><%= under_limit.unit.name %></td>
              <td class = show_state_td><%= "#{under_limit.limit_day.strftime("%Y年%m月%d日")}"%></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class = "over_table_base">
        <table class = "show_table_total">
          <tr class = "show_table_tr">
            <th class = "show_table_th" >Item</th>
            <th class = "show_table_th" >ID</th>
            <th class = "show_table_th" >残り日数</th>
            <th class = "show_table_th" >数量</th>
            <th class = "show_table_th" >使用期限</th>
          </tr>
          <% @over_limit.zip(@over_day_alarm) do |over_limit,over_day_alarm|%>
            <tr class = "show_state">
              <td class = show_state_td><%= "#{over_limit.item.name}"%></td>
              <td class = show_state_td><%= "#{over_limit.id}"%></td>
              <td class = show_state_td><%= "期限から【#{over_day_alarm.to_i.abs}日】経過"%></td>
              <td class = show_state_td><%= over_limit.quantity %><%= over_limit.unit.name %></td>
              <td class = show_state_td><%= "#{over_limit.limit_day.strftime("%Y年%m月%d日")}"%></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  <% else %>
      なし
  <% end %>
</div>