<%# アラーム表示画面 %>
<div class="hidden" id="alarm-test" >
  <div class = "show-list">
    <div>
      <div>
        使用期限まで１０日以内の製品 -----------------
      </div>
      <% if @states.present?%>
        <% @items.zip(@states).each do |item,state|%>
          <%if state.limit_id == 2 %>
            <% limit_day = state.limit_day.to_date %>
            <% alarm = limit_day - @today %>
              <% if alarm <= 10 && 0 <= alarm %>
                <%= "Item：#{item.name}" %>
                <table class = "show_table_total">
                  <tr class = "show_table_tr">
                    <th class = "show_table_th" >ID</th>
                    <th class = "show_table_th" >残り日数</th>
                    <th class = "show_table_th" >使用期限</th>
                  </tr>
                  <tr class = "show_state">
                    <td class = show_state_td><%= "#{state.id}"%></td>
                    <td class = show_state_td><%= "#{alarm.to_i}日"%></td>
                    <td class = show_state_td><%= "#{state.limit_day.strftime("%Y年%m月%d日")}"%></td>
                  </tr>
                </table>
              <% end %>
          <% end %>
        <% end %>
      <% else %>
        <div>
          該当商品はありません。
        </div>
      <% end %>
    </div>

    <div>
      <div>
        使用期限を超えた製品 -----------------------
      </div>
      <% if @states.present?%>
        <% @items.zip(@states).each do |item,state|%>
          <%if state.limit_id == 2 %>
            <% limit_day = state.limit_day.to_date %>
            <% alarm = limit_day - @today %>
            <div>
              <% if alarm < 0 %>
                <%= "Item：#{item.name}" %>
                <table class = "show_table_total">
                  <tr class = "show_table_tr">
                    <th class = "show_table_th" >ID</th>
                    <th class = "show_table_th" >＊使用期限切れ＊</th>
                    <th class = "show_table_th" >使用期限</th>
                  </tr>
                  <tr class = "show_state">
                    <td class = show_state_td><%= "#{state.id}"%></td>
                    <td class = show_state_td><%= "期限から【#{alarm.to_i.abs}日】経過"%></td>
                    <td class = show_state_td><%= "#{state.limit_day.strftime("%Y年%m月%d日")}"%></td>
                  </tr>
                </table>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <div>
        該当商品はありません。
        </div>
      <% end %>
    </div>
  </div> 
</div>


<div>
  <div>
  使用期限を超えた製品 -----------------------
  </div>
  <% if @states.present?%>
    <% @items.zip(@states).each do |item,state|%>
      <% if state.limit_id == 2 %>
          <% limit_day = state.limit_day.to_date %>
          <% alarm = limit_day - @today %>
          <div>
            <% if alarm < 0 %>
              <%= "Item：#{item.name}" %>
              <table class = "show_table_total">
                <tr class = "show_table_tr">
                  <th class = "show_table_th" >ID</th>
                  <th class = "show_table_th" >＊使用期限切れ＊</th>
                  <th class = "show_table_th" >使用期限</th>
                </tr>
                <tr class = "show_state">
                  <td class = show_state_td><%= "#{state.id}"%></td>
                  <td class = show_state_td><%= "期限から【#{alarm.to_i.abs}日】経過"%></td>
                  <td class = show_state_td><%= "#{state.limit_day.strftime("%Y年%m月%d日")}"%></td>
                </tr>
              </table>
            <% end %>
          </div>
      <% end %>
    <% end %>
  <% end %>
</div>