<%= render "shared/header" %>

<div class="tatal_page">
  <%# サイドバー読み込み %>
  <div class="side_bar" >
    <%= render "shared/side_bar" %>
  </div>

  <%# メインページ %>
  <div class="show_main" >
    <div class = "show_box">
      <div class = "menu_title" >
        在庫管理
      </div>


    <div class = "image_and_info">
      <% if @item.image.present? %>
        <div>
          <%= image_tag @item.image, class: 'show_image' if @item.image.attached?  %>
        </div>
      <% else %>
        <div class = "no_image">
          Noimage
        </div>
      <% end %>

        <div>
          <div  class = "item_info" >
            <%= @item.information %>
          </div>
        </div>
      </div>

      <div class = "show_itemname">
        Item：<%= @item.name %>
      </div>

      <div class = "show_frame_total">
        <%= link_to 'edit(編集)',"/items/#{@item.id}/edit",method: :get  , class: :show_frame %>
        <%= link_to 'Delete(削除)',"/items/#{@item.id}",method: :delete , data: { confirm: '削除してよいですか？' }  , class: :show_frame %>
        <%= link_to '在庫追加',"/items/#{@item.id}/states/new"  , class: :show_frame %>
        <%= link_to '一覧に戻る',root_path , class: :show_frame %>
      </div>

      <table class = "show_table_total">
        <tr class = "show_table_tr">
          <th class = "show_table_th" >ID</th>
          <th class = "show_table_th" >入庫日</th>
          <th class = "show_table_th" >数量</th>
          <th class = "show_table_th" >保管場所</th>
          <th class = "show_table_th" >住所</th>
          <th class = "show_table_th" >使用期限</th>
        </tr>

        <% @states.each do |state| %>
          <tr class = "show_state">
            <td class = show_state_td><%= state.id %></td>
            <td class = show_state_td><%= state.created_at.strftime("%Y年%m月%d日") %></td>
            <td class = show_state_td><%= state.quantity %><%= state.unit.name %></td>
            <td class = show_state_td><%= state.storage_name %></td>
            <td class = show_state_td><%= state.storage_address %></td>
              <% if state.limit_id == 3 %>
                <td class = show_state_td><%= state.limit.name %></td>
              <% else state.limit_id == 2 %>
                <td class = show_state_td><%= state.limit_day.strftime("%Y年%m月%d日") %></td>
              <% end %>
            <td class = show_state_td><%= link_to "編集" , "/items/#{@item.id}/states/#{state.id}/edit" , class: :show_frame %>
            <td class = show_state_td><%= link_to '削除',"/items/#{@item.id}/states/#{state.id}",method: :delete , data: { confirm: '削除してよいですか？' }  , class: :show_frame %>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
